@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

:root {
    --navbar-btn-bg-color: #6077A8;
    --border-radius: 10px;
    --navbar-btn-fg-color: white;
    /* color: hsl(225, 6%, 14%); */
    --fg-color-h: 225;
    --fg-color-s: 6%;
    --fg-color-l: 14%;
    --fg-color: hsl(var(--fg-color-h), var(--fg-color-s), var(--fg-color-l));

    --title-font-size: 3.25rem;
    --heading-font-size: 1.5rem;
    --heading1: calc(var(--heading-font-size) * 1.275);
    --heading2: calc(var(--heading-font-size) * 1.334);
    --heading3: calc(var(--heading-font-size) * 0.8);
    --primary-font: "Work Sans";
    --secondary-font: 'Work Sans';
    --brand-color: var(--navbar-btn-bg-color);
    --footer-bg-color: var(--bg-color);
    --db-card-shadow-spread: 36px;
    --db-card-shadow-opacity: .1;
}

.dark-mode {
    --fg-color-h: 0;
    --fg-color-s: 0%;
    --fg-color-l: 100%;
    --fg-color: hsl(var(--fg-color-h), var(--fg-color-s), var(--fg-color-l));
    --bg-color-h: 0;
    --bg-color-s: 0%;
    --bg-color-l: 0%;
    --bg-color: hsl(var(--bg-color-h), var(--bg-color-s), var(--bg-color-l));
    --navbar-btn-bg-color: #6077A8;
    --brand-color: var(--navbar-btn-bg-color);
    --footer-bg-color: var(--bg-color);
    --db-card-bg: rgba(107, 107, 107, 0.31);
}

.notion-default {
    border: unset;
}

.navbar-item:hover {
    font-weight: 600;
}

figure>div {
    width: 100% !important;
    height: 100% !important;
}

.notion-default .notion-h1 {
    /* color: #222326; */
    font-size: var(--title-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
    width: 58%;
    display: block;
    text-align: center;
}

.notion-default .notion-text {
    /* font-size: .9375rem; */
    /* color: #4A4E5A; */
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    width: 40%;
    padding: 13px 0px;
    opacity: .9;
}

/* .notion-default .notion-h2 {
    text-align: center; */
/* font-size: 32px; */
/* font-size: var(--heading2);
    font-style: normal;
    font-weight: 700;
    line-height: 41.6px;
    width: 100%;
    margin-top: 0;
} */

.bullet-btn {
    background-color: var(--navbar-btn-bg-color);
    padding: 15px 25px;
    margin: 20px 0px;
    border: unset;
    border-radius: var(--border-radius);
    color: var(--navbar-btn-fg-color);
    opacity: 1;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.notion-collection-group-title {
    position: relative;
}

.notion-title {
    display: none;
}

.notion-default_co {
    width: 75%;
    margin: 0 auto;
    box-shadow: unset;
    border: unset;
    border-radius: unset;
}

.notion-default_co .notion-collection-group-title {
    display: none;
}

.notion-default_co>.notion-page-icon-inline,
.notion-default_co .notion-list-view .notion-page-icon-inline {
    display: none;
}

.notion-list-body {
    border: unset;
    padding-top: 24px;
}

.notion-default_co .notion-h3 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 2px solid var(--fg-color);
    width: fit-content;
    opacity: 1;
}

.notion-default_co .notion-list-item {
    color: var(--brand-color);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 6px 0px;
    height: auto;
}

.notion-list-item:hover {
    background: unset;
}

.notion-default_co .notion-page-title-text b {
    font-weight: 500;
}

.notion-default_co .bullet-3-column {
    justify-content: space-between;
    margin-left: 55px;
}

.notion-default .notion-h2 {
    font-size: 40px;
    font-size: var(--heading2);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 20px 0px;
}

/*gray background */
.notion-gray_background_co {
    background-color: transparent;
    border: unset;
    box-shadow: unset;
    width: 73.4%;
    margin: 0 auto;
    display: block;
}

.notion-gray_background_co>.notion-page-icon-inline {
    display: none;
}

.notion-gray_background_co .notion-collection-group-title {
    display: none;
}

.notion-gray_background_co .notion-page-icon-inline,
.notion-gray_background_co .notion-page-title-icon {
    width: 60px;
    height: 60px;
    max-height: 100%;
    object-fit: contain;
    max-width: 100%;
}

.notion-gray_background_co .notion-page-title {
    gap: 15px;
}

.notion-gray_background_co .notion-list-item {
    height: auto;
    display: block;
    box-shadow: 0px 0px 3px lightgray;
    border-radius: var(--border-radius);
    padding: 30px 31px;
    /* width: 90rem; */
}

.notion-gray_background_co .notion-list-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.notion-gray_background_co .notion-list-item-property {
    margin: 0;
}

.notion-gray_background_co .notion-list-body {
    padding: 0px 30px;
}

.notion-default .notion-text>b {
    font-weight: 400;
    z-index: 999;
    position: relative;
}

.notion-default .notion-text>b::before {
    content: '';
    position: absolute;
    background-color: hsl(36deg 100% 79% / 52%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: -13px;
    top: -5px;
}

.notion-sync-block .notion-property-multi_select-item {
    background-color: unset;
    color: var(--fg-color);
    font-weight: 600;
    font-size: 1rem;
}

.notion-default_co .bullet-3-column {
    gap: 110px;
}

/* green background style */

.notion-teal_background_co>.notion-page-icon-inline {
    display: none;
}

.notion-teal_background_co {
    background-color: unset;
    box-shadow: unset;
    border-radius: unset;
    border: unset;
}

/* gallery view */

.notion-gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.notion-gallery-grid .notion-page-icon-inline {
    max-height: 100%;
    max-width: 100%;
    width: 40px;
    height: 40px;
}

.notion-gallery-grid .notion-collection-card-property .notion-page-title-icon {
    width: 40px;
    height: 40px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 40px;
}

.notion-collection-card-body {
    padding: 20px 15px;
}

.notion-collection-card:hover {
    background: var(--db-card-bg);
}

.notion-gallery-grid .notion-page-title-text {
    font-size: 1.2rem;
    font-weight: 500;

}

.notion-gallery-grid .notion-page-title {
    gap: 20px;
}

.notion-collection-card .notion-collection-card {
    border-radius: var(--border-radius);
    border: unset;
}

.button {
    border: unset;
}

#page-components .notion-page {
    max-width: 80rem;
    margin: 0 auto;
}

@media (max-width:1440px) {
    .notion-gray_background_co {
        width: 85%;
    }

    .notion-default_co {
        width: 85%;
    }

}

@media (max-width:1200px) {
    .notion-gray_background_co {
        width: 95%;
    }

    .notion-default_co {
        width: 95%;
    }

    .notion-default_co .bullet-3-column {
        gap: 60px;
    }

    .notion-gallery-grid {
        grid-template-columns: 1fr 1fr;
    }


    .notion-gray_background_co .notion-list-body {
        grid-template-columns: 1fr 1fr;
    }

    .notion-default .notion-h1 {
        width: 70%;
    }

    .notion-default .notion-text {
        width: 70%;
    }

    .notion-default_co .bullet-3-column {
        margin-left: 0;
    }
}

@media (max-width:780px) {
    :root {
        --title-font-size: 2.5rem;
    }

    .notion-gray_background_co .notion-list-body {
        grid-template-columns: 1fr;
    }

    .notion-default .notion-h1 {
        width: 90%;
    }

    .notion-default .notion-text {
        width: 90%;
    }

    .notion-blank {
        display: none;
    }
}

@media (max-width:600px) {
    .notion-gray_background_co .notion-list-body {
        grid-template-columns: 1fr;
    }

    .notion-gray_background_co {
        width: 98%;
    }

    .notion-default_co {
        width: 98%;

    }

    .notion-gallery-grid {
        grid-template-columns: 1fr;
    }


    .notion-default_co .notion-list-item {
        justify-content: center;
    }

    .notion-default_co .notion-h3 {
        margin: 0 auto;
    }

    .notion-default .notion-h1 {
        width: 100%;
    }

    .notion-default .notion-text {
        width: 100%;
    }

    .notion-default .notion-h2 {
        width: 100%;
    }

    .notion-default_co .bullet-3-column {
        gap: 15px;
    }

    #page-components .notion-page {
        max-width: 95rem;
        margin: 0 auto;
    }
}
